[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "prophet"]
	path = prophet
	url = https://github.com/facebook/prophet
	subdir = R
